

div {
  border:1px solid #000;   
  background-color: pink;
  margin: 10px;
}

p {
 background-color: yellow;	
}


.alignleft {
  float: left;
  width:50%;
  text-align:left;
}
.aligncenter {
  float: left;
  width:33.33333%;
  text-align:center;
}
.alignright {
 float: left;
 width:50%;
 text-align:right;
}​
